
<div class="row"> 
	<div class="col-md-12">
		<h2>About</h2>
	</div>
</div>

<div class="row"> 
	<div class="col-md-12">
		<p>Whilst the website <a href="http://www.victorgoyea.com">victorgoyea.com</a> showcases the development of responsive websites and templates enhanced with bespoke JQuery plugins it lacks examples of the technology stack i enjoy using most: MEANJS.</p>
		<p>Therefore Glimpse was created dedicated to showcase experimental projects developed using the MEAN stack, demonstrating proficiency in MongoDB, ExpressJs, AngularJs and NodeJs.</p>
	</div>
</div>