
<div>

	<div class="row page-title">  

		<div class="col-md-12"> 
		<h2>Hey, welcome to <span class="uppercase">Glimpse</span>.</h2>
		<p>My name is Victor Goyea, a mean stack front end developer.<br />This website aims to demonstate my proficiency using the MEAN stack, hence MongoDB, ExpressJs, AngularJs and NodeJs. Targeting the latest browsers, ie9+, Chrome, Firefos and Safari</p> 
		
		</div>
	</div>

	<div class="row"> 
		<div class="col-md-12"> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="content-alt-1 marginise paddinise">
				<div class="col-md-6">
					<h3>Projects:</h3>
					<ol class="app-list">
						<li><a href="/#/contacts">Contact List</a>.</li>
						<li><a href="/#/shop">E-commerce Store</a>.</li>
						<li><a href="/#/asset-library">Asset Library</a>.</li>
					</ol>
				</div>

				<div class="col-md-6">
					<img src="/assets/images/glimpse/glimpse-main-image.png" />
				</div>
			</div>
		</div>

	</div>
</div>


