/** Custom Mixins **/

@mixin button {
    display: block;
    border: 1px solid $color-purplish-red;
    background: transparent;
    padding: 5px 10px 6px 10px; 
}



/** Mixins **/
@mixin remove-paddings-and-margins { 
    padding: 0px;
    margin: 0px;
}

@mixin top-btm-padding($valve1, $valve2) { 
    padding-top: $valve1;
    padding-bottom: $valve2;
}

@mixin top-btm-margin($valve1, $valve2) { 
    margin-top: $valve1;
    margin-bottom: $valve2;
}


@mixin rotate($valve) {
	-ms-transform: rotate($valve); /* IE 9 */
	-webkit-transform: rotate($valve); /* Chrome, Safari, Opera */
	transform: rotate($valve);
}
 
@mixin block-element {
	display: block;
	width: 100%;
	min-height: 1px;
	box-sizing: initial;
}

@mixin undeline-element {
	border-bottom: 1px solid $tertiary-color;
	margin-bottom: 18px;
	padding-bottom: 18px;
}

@mixin round-corners($value) { 
	border-radius: $value;
	-o-border-radius: $value;
	-moz-border-radius: $value;
	-webkit-border-radius: $value;
}
 
@mixin box-sized {	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;     
	box-sizing: border-box; 
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin icon($xpos, $ypos, $width, $height) {
	background: url(#{$assetPath + $sprite-image}) no-repeat $xpos $ypos;
	width: $width;
	height: $height;
	text-indent: -99999px;
	overflow: hidden;
}

@mixin shadow($val1, $val2, $val3, $color) { 
	-moz-box-shadow: $val1 $val2 $val3 $color; 
	-webkit-box-shadow: $val1 $val2 $val3 $color; 
	box-shadow: $val1 $val2 $val3 $color;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=$val1, Direction=135, Color='$color')"; 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=$val1, Direction=135, Color='$color');
}

@mixin responsive-image {
    width:100% !important;
    display:block;
}


@mixin transition($duration) {  
    -moz-transition: all $duration ease; 
    -o-transition: all $duration ease;
    -webkit-transition: all $duration ease;
    transition: all $duration ease;
}
 
 
@mixin gradient($from, $to) {
    background: $from; /* Old browsers */
    background: -moz-linear-gradient(top, $from 0%, $to 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $from 0%,$to 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $from 0%,$to 100%); /* IE10+ */
    background: linear-gradient(to bottom, $from 0%,$to 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 ); /* IE6-9 */
} 

@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}

@mixin transition($effect, $speed) {
    -webkit-transition: all $effect $speed;
    -moz-transition: all $effect $speed;
    -o-transition: all $effect $speed;
    transition: all $effect $speed;
} 

@mixin stroke ($color, $shadow-color, $stroke-color, $width){
  color: $color;
  text-shadow:
   -$width -$width 0 $shadow-color,  
    $width -$width 0 $shadow-color,
    -$width $width 0 $shadow-color,
     $width $width 0 $shadow-color;

   -webkit-text-fill-color: $color;  
   -webkit-text-stroke-width: $width;
   -webkit-text-stroke-color: $stroke-color; 
}
