
<div ng-controller="basketPage">
	<div class="row page-title">

		<div class="col-md-12">
			<h2>Online Clothing Store.</h2>
			<p>Shopping basket.</p> 
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="content-alt-1 marginise paddinise">
				
				<div class="col-md-12"> 
					<div class="title">
						<h2>Shopping Basket</h2> 		
					</div>
					<div class="col-md-12 nopadd-nomarg"> 
						<div class="col-md-8 nopadd-nomarg">
							
							<div ng-include src="'/views/applications/shop/includes/breadcrumbs.html'"></div>
						</div>
						<div class="col-md-4 t-right nopadd-nomarg">
							&nbsp; 
						</div>
					</div>
				</div>

				<div ng-Basket="advanced"></div>
				
			</div>
		</div>
	</div>
</div>


