<footer> 
	<div class="footer">
		<hr />
		<p>&copy; Glimpse 2016 | Developed by <a href="http://www.victorgoyea.com" target="_blank" title="Portfolio site">Victor Goyea</a></p>
	</div>					
</footer>