<header>
 	<nav role="navigation" class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>             
            <a href="/#/" class="navbar-brand">
            	<img src="/assets/images/glimpse/glimpse-logo-final.png" alt="Glimpse" /> 
            </a> 
        </div> 
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#/">Home</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Work <span class="caret"></span></a>
                <ul class="dropdown-menu"> 
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Applications</li> 
                  <li><a href="/#/contacts">Contact List</a></li>
                  <li><a href="/#/shop">Online Clothing Store</a></li>
                  <li><a href="/#/asset-library">Asset Library</a></li>
                </ul>
              </li>
                <li><a href="/#/about">About</a></li>
                <!--<li><a href="/#/login">Login</a></li>-->
                <li>&nbsp;</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </nav>
</header>